@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0 !important;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
